*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
.nav{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;

}